.example {
  margin-bottom: 64px;
}

.example__title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(67,90,111,.146);
}

.example__content > * {
  margin-right: 8px;
  margin-bottom: 8px;
}
