.input {
  font-weight: 100;
  font-size: 1rem;
  border: 1px solid #bfc0c0;
  border-radius: 4px;
  color: inherit;
  padding: 0 8px;
  line-height: 30px;
  outline: 0;
  transition: all 75ms ease-in-out;
  box-sizing: border-box;

  &--block {
    display: block;
    width: 100%;
  }

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 1px #0576b9, 0 0 0 4px rgba(45, 158, 224, .3);
  }

  &-with-icon {
    display: inline-block;
    position: relative;
  }

  &-with-icon {
    .input {
      padding-left: 34px;
    }

    &__icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 4px 12px;
    }
  }
}
