.button {
  background: #1eb6ff;
  color: #fff;
  transition: all 75ms ease-in-out;
  line-height: 30px;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0 16px;
  outline: 0;
}

.button:focus {
  box-shadow: 0 0 0 1px #0576b9, 0 0 0 4px rgba(45,158,224,.3);
}

.button:not([disabled]):not(:focus):hover {
  box-shadow: inset 0 0 0 1px rgba(44,45,48,.3), 0 1px 4px rgba(44,45,48,.2);
}

.button--ghost {
  background: #fff;
  color: inherit;
  box-shadow: inset 0 0 0 1px rgba(44,45,48,.3);
}

.button--with-icon {
  padding-left: 32px;
  position: relative;
}

.button[disabled] {
  opacity: .8;
  background: #eee;
  color: inherit;
  cursor: auto;
}

.button__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 2px 8px;
}
