h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.1rem;
}

.text--with-separator {
  padding-bottom: .5rem;
}

hr {
  border: 0;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 2rem;

  h1 + &,
  h2 + &,
  h3 + &,
  h4 + &,
  h5 + &,
  h6 + & {
    margin-top: -.5rem;
  }
}
