.space-inset-xxs {
  padding: .125rem;
}

.space-inset-xs {
  padding: .25rem;
}

.space-inset-s {
  padding: .5rem;
}

.space-inset-m {
  padding: 1rem;
}

.space-inset-l {
  padding: 2rem;
}

.space-inset-xl {
  padding: 4rem;
}

.space-inset-xxl {
  padding: 8rem;
}


.space-x-xxs {
  padding-left: .125rem;
  padding-right: .125rem;
}

.space-x-xs {
  padding-left: .25rem;
  padding-right: .25rem;
}

.space-x-s {
  padding-left: .5rem;
  padding-right: .5rem;
}

.space-x-m {
  padding-left: 1rem;
  padding-right: 1rem;
}

.space-x-l {
  padding-left: 2rem;
  padding-right: 2rem;
}

.space-x-xl {
  padding-left: 4rem;
  padding-right: 4rem;
}

.space-x-xxl {
  padding-left: 8rem;
  padding-right: 8rem;
}


.space-y-xxs {
  padding-bottom: .125rem;
  padding-top: .125rem;
}

.space-y-xs {
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.space-y-s {
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.space-y-m {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.space-y-l {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.space-y-xl {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.space-y-xxl {
  padding-bottom: 8rem;
  padding-top: 8rem;
}


.space-stack-xxs {
  margin-bottom: .125rem;
}

.space-stack-xs {
  margin-bottom: .25rem;
}

.space-stack-s {
  margin-bottom: .5rem;
}

.space-stack-m {
  margin-bottom: 1rem;
}

.space-stack-l {
  margin-bottom: 2rem;
}

.space-stack-xl {
  margin-bottom: 4rem;
}

.space-stack-xxl {
  margin-bottom: 8rem;
}

.space-between-xxs > :not(:last-child) {
  margin-bottom: .125rem;
}

.space-between-xs > :not(:last-child) {
  margin-bottom: .25rem;
}

.space-between-s > :not(:last-child) {
  margin-bottom: .5rem;
}

.space-between-m > :not(:last-child) {
  margin-bottom: 1rem;
}

.space-between-l > :not(:last-child) {
  margin-bottom: 2rem;
}

.space-between-xl > :not(:last-child) {
  margin-bottom: 4rem;
}

.space-between-xxl > :not(:last-child) {
  margin-bottom: 8rem;
}


.space-between-inline-xxs > :not(:last-child) {
  margin-right: .125rem;
}

.space-between-inline-xs > :not(:last-child) {
  margin-right: .25rem;
}

.space-between-inline-s > :not(:last-child) {
  margin-right: .5rem;
}

.space-between-inline-m > :not(:last-child) {
  margin-right: 1rem;
}

.space-between-inline-l > :not(:last-child) {
  margin-right: 2rem;
}

.space-between-inline-xl > :not(:last-child) {
  margin-right: 4rem;
}

.space-between-inline-xxl > :not(:last-child) {
  margin-right: 8rem;
}
