.radio {
  cursor: pointer;
  display: flex;
  align-items: center;

  & + & {
    margin-top: 16px;
  }

  &__bullet {
    outline: 0;
    cursor: inherit;
    appearance: none;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: white;
    border: 2px solid #bfc0c0;
    border-radius: 50%;
    padding: 2px;
    background-clip: border-box;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__bullet:focus {
    box-shadow: 0 0 0 3px rgba(45,158,224,.3);
  }

  &__bullet:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all .1s ease-in-out;
  }

  &__bullet:checked {
    border-color: $primary;
  }

  &__bullet:checked:after {
    background: $primary;
  }

  &__label {
    cursor: pointer;
  }
}
