.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(200%);
}

.modal--open {
  opacity: 1;
  transform: translateX(0);
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  box-sizing: border-box;
  min-width: 480px;
  background: white;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  box-shadow: rgba(84, 70, 35, 0.3) 0px 6px 20px, rgba(84, 70, 35, 0.14) 0px 1px 3px, rgba(0, 0, 0, 0.08) 0px 0px 1px;
  border-radius: 3px;
  padding: 16px 32px;
  z-index: 1;
}

@media (max-width: 780px) {
  .modal__content {
    min-width: 300px;
  }
}
