.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: ease-out 0s .2s;
}

.modal--open {
  transform: translateY(0);
}

.modal__backdrop {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  transition: ease opacity .3s .2s;
}

.modal--open .modal__backdrop {
  opacity: 1;
}

.modal__content {
  transition: ease all .3s;
  min-width: 480px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%) scale(0);
  border-radius: $border-radius;
  opacity: 0;
  z-index: 1;
}

.modal--open .modal__content {
  transform: translate(50%, -50%) scale(1);
  opacity: 1;
}

@media (max-width: 780px) {
  .modal__content {
    min-width: 300px;
  }
}
