html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  color: #2c2d30;
  background: #faf8fb;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
              'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

body,
html {
  height: 100%;
}
